recursive-include demo *.tif
recursive-include demo *.png
recursive-include demo *.json
recursive-include iris *.png
recursive-include iris *.html
recursive-include iris *.css
recursive-include iris *.js
recursive-include iris *.json
