body {
    font-size: 1em;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

button,.button {
  background-color: #ffffff;
  border: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  margin: 2px 2px;
  padding: 8px 10px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
   transition: 0.3s;
}

.toolbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: stretch;
}

.toolbutton,.inactive-toolbutton,.statusbutton,.inactive-statusbutton {
  background-color: #ffffff;
  border: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: black;
  color: black;
  text-align: center;
  font-weight: bold;
  margin: 2px 2px;
  padding: 0px;
  cursor: pointer;
  font-size: 18px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
   transition: 0.3s;
}

.icon_button{
    line-height: 0;
    padding: 2px;
}

img {
    margin: 0px;
    padding: 0px;
}

.inactive-toolbutton,.inactive-statusbutton{
    cursor: default;
}

.toolbar_separator {
    float: left;
    background-color: #000;
    margin: 2px 6px;
    width: 2px;
}

.statusbar {
    display: flex;
    align-items: stretch;
    /* list-style-type: none; */
    /* border: 2px solid black;
    border-radius: 4px; */
    width: 98%;
    margin: 0;
    padding: 0;
    /* padding: 4px; */
    overflow: visible;
    font-size: 18px;
}

.statusbutton,.inactive-statusbutton {
  padding: 10px;
  overflow: visible;
}

.statusbar_separator {
    float: left;
    background-color: #000;
    margin: 0px 6px;
    width: 2px;
    height: 22px;
}

button:hover,.button:hover,.toolbutton:hover,.statusbutton:hover{
    background-color: #dddddd;
}

.checked {
    background-color: #ababab;
}

.vl {
    background-color: #000;
    padding: 40px 6px;
    /* height:30px; */
    display: inline-block;
}

.info-box{
    display: flex;
    justify-content: center;
    border: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    background-color: white;
    text-decoration: none;
    align-items: center;
    margin: 2px 2px;
    padding: 5px 10px;
    float: left;
}

.info-box-top{
    font-size: 20px;
    font-weight: bold;
}

.info-box-bottom{
    font-size: 12px;
    font-weight: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  margin: 2px 2px;
}

td, th {
  border: 1px solid #000;
  padding: 8px;
  border-style: outset;
}

th,td.first {
    font-weight: bold;
}

td.upper-left {
    font-size: 12px;
    font-weight: normal;
}

.icon {
    filter: blur(0.1px);
    margin: 2px;
}

.key{
    font-style: italic;
}

.key::before{
    content: "<";
}
.key::after{
    content: ">";
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #000;
}

.tab button,.button {
  float: left;
  border: none;
  border-radius: 0px;
  outline: none;
  cursor: pointer;
  margin: 0px;
  padding: 14px 16px;
  font-size: 1em;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #000;
  border-top: none;
  overflow: auto;
}

.tag{
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 4px;
}

.green{
    background-color: #11b811;
}
.red{
    background-color: #bb0000;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
 /* background-color: #fff; */
 color: #000;
 font-weight: bold;
 cursor: pointer;
 padding: 14px 16px;
 font-size: 16px;
 /* width: 95%; */
 text-align: left;
 border: 2px solid black;
 /* border-radius: 4px;
 border-bottom-left-radius: 0px;
 border-bottom-right-radius: 0px; */
 outline: none;
 overflow: hidden;
 transition: 0.4s;
 margin: 2px 0px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
 background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion.checked:after {
  content: "\2212";
}

/* Style the accordion panel. Note: hidden by default */
.panel {
 padding: 0 18px;
 background-color: white;
 display: none;
 overflow: hidden;
 border: 2px solid black;
 border-top: none;
 margin-top: -2px;
 font-size: 16px;
 font-weight: normal;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  overflow: visible;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
