<h3>FAQ</h3>
<h4>How can I change the size of the pencil?</h4>
Press <span class="key">Shift</span> while scrolling the mouse wheel.
<h4>I would like to undo some changes. How can I do that?</h4>
Use either the <b>undo</b> command (<span class="key">U</span>) or the eraser tool (<span class="key">E</span>).
<h4>How can I select another class for drawing?</h4>
Use either the number hotkeys (<span class="key">1..9</span>) or click in the toolbar on the <button class="icon_button" onclick="dialogue_class_selection();"><img src="{{url_for('segmentation.static', filename='icons/class.png')}}" height="18" width="18"/></button> button.
