{#
  Segmentation page: the React app does everything, the server only picks the
  image when the address does not name one.
#}

{% extends "base.html" %}
{% block title %}segmentation{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('segmentation.static', filename='css/segmentation.css') }}">
    <script type="text/javascript">
        Object.assign(vars, {'image_id': {{image_id|tojson}}});
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/segmentationApp.css') }}">
    <script type="module" src="{{ url_for('static', filename='dist/segmentationApp.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="react-segmentation-app"></div>
{% endblock %}
