{% extends "base.html" %}
{% block title %}segmentation{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('segmentation.static', filename='css/segmentation.css') }}">

    <script type="text/javascript" src="{{ url_for('main.static', filename='javascripts/views.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('segmentation.static', filename='javascripts/segmentation/views.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('segmentation.static', filename='javascripts/segmentation.js') }}"></script>
    <script type="text/javascript">

        // GLOBAL VARIABLES!!!
        // I know I am using global variables here but who cares....
        // If there is a nicer design way to this in javascript, please come forward
        vars = {
            'url': vars.url,
            'next_action': null,
            'user': null,
            'mask': null,
            'user_mask': null,
            'errors_mask': null,
            // for performance reasons we draw the mask to a hidden canvas:
            'hidden_mask': null,
            'history': {
                'mask': [],
                'user_mask': [],
                'current_epoch': 0,
                'max_epochs': 30,
            },
            'image_id': {{image_id|tojson}},
            'image_location': {{image_location|tojson}},
            'current_class': 0,
            'cursor_canvas': [0, 0],
            'cursor_image': [0, 0],
            'drag_start' : [0, 0],
            'n_user_pixels': {
                'total': 0,
            },
            'show_mask': true,
            'mask_type': 'final',
            'confusion_matrix': null,
            'tool': {
                "type": 'draw',
                'size': 6,
                'sprite': null,
                'pixels': null,
                'resizing_mode': false
            }
        };

        function next_image(){
            if (vars.show_dialogue_before_next_image){
                dialogue_before_next_image();
            } else {
                goto_url({{url_for('segmentation.next_image', image_id=image_id)|tojson}});
            }
        }

        function prev_image(){
            goto_url({{url_for('segmentation.previous_image', image_id=image_id)|tojson}});
        }

        // When the window has loaded, DOM is ready, initialise the GUI, check login, etc:
        window.onload = init_segmentation;
    </script>

{% endblock %}
{% block content %}
    <ul class='toolbar' id="toolbar" style="visibility: hidden;">
        <li class="toolbutton icon_button" id='tb_previous_image' onclick="save_mask(prev_image);">
            <img src={{url_for('segmentation.static', filename='icons/previous.png')}} class="icon">
        </li>
        <li class="toolbutton icon_button" id='tb_next_image' onclick="save_mask(next_image);">
            <img src={{url_for('segmentation.static', filename='icons/next.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_save_mask' onclick="save_mask();">
            <img src={{url_for('segmentation.static', filename='icons/save_mask.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_undo' onclick="undo();">
            <img src={{url_for('segmentation.static', filename='icons/undo.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_redo' onclick="redo();">
            <img src={{url_for('segmentation.static', filename='icons/redo.png')}} class="icon" />
        </li>
        <li class="toolbar_separator"></li>
        <li class="toolbutton icon_button" id="tb_select_class" onclick='dialogue_class_selection();' style="width: 200px;">
            <div>
                <img src={{url_for('segmentation.static', filename='icons/class.png')}} class="icon" style="float: left;"/>
            </div>
            <div id="tb_current_class" style="float: left; line-height: 28px; font-size: 18px; font-weight: normal;">
                No class
            </div>
        </li>
        <li class="toolbar_separator"></li>
        <li class="toolbutton icon_button" id='tb_tool_move' onclick="set_tool('move');">
            <img src={{url_for('segmentation.static', filename='icons/move.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_tool_reset_views' onclick="reset_views();">
            <img src={{url_for('segmentation.static', filename='icons/reset_views.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_tool_draw' onclick="set_tool('draw');">
            <img src={{url_for('segmentation.static', filename='icons/pencil.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_tool_eraser' onclick="set_tool('eraser');">
            <img src={{url_for('segmentation.static', filename='icons/eraser.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_reset_mask' onclick='dialogue_reset_mask();'>
            <img src={{url_for('segmentation.static', filename='icons/reset_mask.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_predict_mask' onclick="predict_mask();">
            <img src={{url_for('segmentation.static', filename='icons/ai.png')}} class="icon" />
        </li>
        <li class="toolbar_separator"></li>
        <li class="toolbutton icon_button" id='tb_toogle_mask' onclick="show_mask(!vars.show_mask);">
            <img src={{url_for('segmentation.static', filename='icons/show_mask.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_mask_final' onclick="set_mask_type('final');">
            <img src={{url_for('segmentation.static', filename='icons/mask_final.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_mask_user' onclick="set_mask_type('user');">
            <img src={{url_for('segmentation.static', filename='icons/mask_user.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_mask_errors' onclick="set_mask_type('errors');">
            <img src={{url_for('segmentation.static', filename='icons/mask_errors.png')}} class="icon" />
        </li>
        <!-- <li class="toolbutton icon_button" id='tb_mask_highlight_edges' onclick="set_mask_highlight_edges(!vars.mask_highlight_edges);">
            <img src={{url_for('segmentation.static', filename='icons/mask_errors.png')}} class="icon" />
        </li> -->
        <li class="toolbar_separator"></li>
        <li class="toolbutton icon_button" id='tb_brightness_up' onclick="change_brightness(up=true);">
            <img src={{url_for('segmentation.static', filename='icons/brightness_up.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_brightness_down' onclick="change_brightness(up=false);">
            <img src={{url_for('segmentation.static', filename='icons/brightness_down.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_saturation_up' onclick="change_saturation(up=true);">
            <img src={{url_for('segmentation.static', filename='icons/saturation_up.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_saturation_down' onclick="change_saturation(up=false);">
            <img src={{url_for('segmentation.static', filename='icons/saturation_down.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_toggle_contrast' onclick="set_contrast(!vars.contrast);">
            <img src={{url_for('segmentation.static', filename='icons/contrast.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id='tb_toggle_invert' onclick="set_invert(!vars.invert);">
            <img src={{url_for('segmentation.static', filename='icons/invert.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" id="tb_reset_filters" onclick='reset_filters();'>
            <img src={{url_for('segmentation.static', filename='icons/reset_filters.png')}} class="icon" />
        </li>
        <li class="toolbar_separator"></li>
        <li class="toolbutton icon_button" onclick="dialogue_help();">
            <img src={{url_for('segmentation.static', filename='icons/help.png')}} class="icon" />
        </li>
        <li class="toolbutton icon_button" onclick="dialogue_config();">
            <img src={{url_for('segmentation.static', filename='icons/preferences.png')}} class="icon" />
        </li>
    </ul>

    <div id="views-container" style="margin: 10px 0px; width: 100%;">
        <!-- This will be filled up by the ViewManager -->
    </div>

    <!-- <div class="info-box" style="position: fixed; bottom: 10; left: 10; float: left; display: flex; flex-direction: row;"> -->
    <div id="statusbar" class='statusbar' style="visibility: hidden; position: fixed; bottom: 10px; z-index: 10;">
        <div class="statusbutton" onclick="dialogue_user();" id="user-info">
            <div style="float: left;">Login</div>
        </div>
        <div class="statusbutton" id="admin-button" onclick="window.open({{url_for("admin.index")}},'_blank');">
            <div style="font-size: 20px;">Admin</div>
        </div>
        <div class="statusbutton" style="min-width: 150px;" onclick="dialogue_image();" id="image-info">
            <div class="info-box-top">{{image_id}}</div>
            <div class="info-box-bottom">image-ID</div>
        </div>
        <div class="complete-statusbutton">
            <div id="different-classes" class="info-box-top">0</div>
            <div class="info-box-bottom">Classes</div>
        </div>
        <div class="complete-statusbutton">
                <div id="drawn-pixels" class="info-box-top">0</div>
                <div class="info-box-bottom">Drawn pixels</div>
        </div>
        <div class="statusbutton" onclick="dialogue_confusion_matrix();">
            <div id="ai-score" class="info-box-top">0</div>
            <div class="info-box-bottom">AI-Score</div>
        </div>
        <div class="info-box">
            <img style="float: left;" src={{url_for('segmentation.static', filename='icons/ai.png')}}></img>
            <div style="font-size: 16px; float: left; margin-left: 10px;" id="ai-recommendation">AI is loading</div>
        </div>
    </div>
{% endblock %}
