<div class="tab">
  <button class="tablinks checked" onclick="open_tab(this, 'config', 'config-segmentation-ai')">Segmentation AI</button>
  <button class="tablinks" onclick="open_tab(this, 'config', 'config-views')">Views</button>
</div>

<div id='config-segmentation-ai' class='iris-tabs-config tabcontent' style='display: block;'>
    <div class="accordion checked" onclick="toogle_display(this);">Model Parameters</div>
    <div class="panel" style="display: block;">
        <table>
            <tr>
                <td style="width:300px">Number of estimators:</td>
                <td style="width:300px">
                    <div class="slider">
                        <div class="slider-value">{{config.segmentation.ai_model.n_estimators}}</div>
                        <input
                            class="slider-widget"
                            id="dcs-n_estimators"
                            type="range" min="10" max="200"
                            value="{{config.segmentation.ai_model.n_estimators}}"
                            oninput="this.previousElementSibling.innerHTML = this.value">
                    </div>
                </td>
            </tr><tr>
                <td>Maximal depth:</td>
                <td>
                    <div class="slider">
                        <div class="slider-value">{{config.segmentation.ai_model.max_depth}}</div>
                        <input
                            class="slider-widget"
                            id="dcs-max_depth"
                            type="range" min="5" max="100"
                            value="{{config.segmentation.ai_model.max_depth}}"
                            oninput="this.previousElementSibling.innerHTML = this.value">
                    </div>
                </td>
            </tr><tr>
                <td>Number of leaves:</td>
                <td>
                    <div class="slider">
                        <div class="slider-value">{{config.segmentation.ai_model.n_leaves}}</div>
                        <input
                            class="slider-widget"
                            id="dcs-n_leaves"
                            type="range" min="5" max="100"
                            value="{{config.segmentation.ai_model.n_leaves}}"
                            oninput="this.previousElementSibling.innerHTML = this.value">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Train ratio:</td>
                <td>
                    <div class="slider">
                        <div class="slider-value">{{(config.segmentation.ai_model.train_ratio*100)|int}}%</div>
                        <input
                            class="slider-widget"
                            id="dcs-train_ratio"
                            type="range" min="10" max="100"
                            value="{{config.segmentation.ai_model.train_ratio*100}}"
                            oninput="this.previousElementSibling.innerHTML = this.value.toString()+'%'">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Max. number of training pixels per class:</td>
                <td>
                    <div class="slider">
                        <div class="slider-value">{{config.segmentation.ai_model.max_train_pixels}}</div>
                        <input
                            class="slider-widget"
                            id="dcs-max_train_pixels"
                            type="range" min="100" max="50000"
                            value="{{config.segmentation.ai_model.max_train_pixels}}"
                            oninput="this.previousElementSibling.innerHTML = this.value">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="accordion checked" onclick="toogle_display(this);">Model Inputs</div>
    <div class="panel" style="display: block;">
        <table>
            <tr>
                <td>Use edge filter?</td>
                <td><input id="dcs-use_edge_filter" type="checkbox" {% if config.segmentation.ai_model.use_edge_filter %} checked {% endif %}></td>
            </tr>
            <tr>
                <td>Use meshgrid?</td>
                <td><input id="dcs-use_meshgrid" type="checkbox" {% if config.segmentation.ai_model.use_meshgrid %} checked {% endif %}></td>
            </tr>
            <tr>
                <td>Meshgrid cells</td>
                <td>
                    <select id="dcs-meshgrid_cells" class="with-arrow">
                        {% for value in ["3x3", "5x5", "7x7", "10x10", "20x20", "pixelwise"] %}
                            <option value={{value}}
                                {% if config.segmentation.ai_model.meshgrid_cells == value %}
                                    selected
                                {% endif %}>{{value}}
                            </option>
                        {% endfor %}
                        </select>
                </td>
            </tr>
            <tr>
                <td>Use superpixels?</td>
                <td><input id="dcs-use_superpixels" type="checkbox" {% if config.segmentation.ai_model.use_superpixels %} checked {% endif %}></td>
            </tr>
            <tr>
                <td>Inputs bands</td>
                <td>
                    <div style="display: flex">
                        <div>
                            Bands to include
                            <select id="dcs-bands-include" size=10 multiple style="width: 125px; height: 200px;">
                            {% for band in all_bands %}
                                {% if band in config.segmentation.ai_model.bands %}
                                    <option value="{{band}}" type="checkbox">{{band}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                        <div style="width: 70px; display: flex; align-items: center;">
                            <button onclick="dialogue_config_include_bands();">&lt;</button>
                            <button onclick="dialogue_config_exclude_bands();">&gt;</button>
                        </div>
                        <div>
                            Bands to exclude
                            <select id="dcs-bands-exclude" size=10 multiple style="width: 125px; height: 200px;">
                            {% for band in all_bands %}
                                {% if band not in config.segmentation.ai_model.bands %}
                                    <option value="{{band}}" type="checkbox">{{band}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="accordion checked" onclick="toogle_display(this);">Postprocessing</div>
    <div class="panel" style="display: block;">
        <table>
            <tr>
                <td style="width:300px">Suppression filter size:</td>
                <td style="width:300px">
                    <select id="dcs-suppression_filter_size" class="with-arrow">
                        <option value="3" {% if config.segmentation.ai_model.suppression_filter_size == 3 %}selected{% endif %}>3</option>
                        <option value="5" {% if config.segmentation.ai_model.suppression_filter_size == 5 %}selected{% endif %}>5</option>
                        <option value="7" {% if config.segmentation.ai_model.suppression_filter_size == 7 %}selected{% endif %}>7</option>
                     </select>
                </td>
            </tr>
            <tr>
                <td>Suppression filter threshold:</td>
                <td>
                <div class="slider">
                    <div class="slider-value">{{config.segmentation.ai_model.suppression_threshold}}%</div>
                    <input
                        class="slider-widget"
                        id="dcs-suppression_threshold"
                        type="range" min="0" max="100"
                        value="{{config.segmentation.ai_model.suppression_threshold}}"
                        oninput="this.previousElementSibling.innerHTML = this.value.toString()+'%'">
                </div>
                </td>
            </tr>
            <tr>
                <td>Suppression filter background class:</td>
                <td>
                    <select id="dcs-suppression_default_class" class="with-arrow">
                        {% for class in config.classes %}
                        <option style="background-color: {{class.css_colour}};" value="{{loop.index-1}}" {% if config.segmentation.ai_model.suppression_default_class == loop.index-1 %}selected{% endif %}>
                            {{class.name}}
                        </option>
                        {% endfor %}
                     </select>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id='config-views' class='iris-tabs-config tabcontent'>
    Not yet implemented.
</div>

<p id="dc-error" class="tag red" style="display: none"></p>
<p>
    <button onclick="dialogue_config_save();">Save</button>
    <button onclick="hide_dialogue();">Close</button>
</p>
