<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='javascripts/utils.js') }}">
    <link rel="stylesheet" href="{{ url_for('user.static', filename='javascripts/user.js') }}">
</head>

<body>
    <h2 style="margin-bottom: -20px;">{{user.name}}<h2>
    {% if user.id == current_user.id %}
        <span class="tag">this is you</span>
    {% endif %}
    {% if user.admin %}
        <span class="tag green">admin</span>
    {% endif %}
    {% if user.tested %}
        <span class="tag green">tested</span>
    {% else %}
        <span class="tag red">not tested</span>
    {% endif %}
    <p></p>
    <div class="accordion checked" onclick="toogle_display(this);">Segmentation</div>
    <div class="panel" style="display: block;">
        <table style="width:50%">
            <tr><td>Rank:</td><td>{{user.segmentation.rank}}</td></tr>
            <tr><td>Score:</td><td>{{user.segmentation.score}}</td></tr>
            <tr><td>Pending score:</td><td>{{user.segmentation.score_pending}}</td></tr>
            <tr><td>Labelled images:</td><td>{{user.segmentation.n_masks}}</td></tr>
        </table>
    </div>

    <div class="accordion checked" onclick="toogle_display(this);">Classification</div>
    <div class="panel" style="display: block;">
     <p>Not yet implemented...</p>
    </div>
    {% if user.id == current_user.id %}
        <p>
            <button onclick="logout();">Logout</button>
        </p>
    {% endif %}
</body>

</html>
