<table class=striped style="width: 100%;">
    <tr style="font-weight: bold;">
        <th>Thumbnail</th>
        <th>ID</th>
        <th>Agreement score</th>
        <th>Count</th>
        <th>Difficulty</th>
        <th>Time spent (h)</th>
    </tr>
    {% for image_id, stats in images.items() %}
        <tr>
            <td><img src={{url_for("main.thumbnail", image_id=image_id, size="50x50")}} /></td>
            <td><button onclick="goto_image('segmentation', '{{image_id}}');">{{image_id}}</button></td>
            {% if "segmentation" in stats %}
                <th>{{stats.segmentation.score}}</th>
                <th>{{stats.segmentation.count}}</th>
                <th>{{stats.segmentation.difficulty}}</th>
                <th>{{stats.segmentation.time_spent}}</th>
            {% else %}
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
            {% endif %}
        </tr>
    {% endfor %}
</table>
