{% extends "base.html" %}
{% block title %}admin{% endblock %}
{% block head %}
    {% if not user %}
        <script type="text/javascript">
            function login_finished(){
                goto_url(vars.url.admin);
            }

            window.onload = dialogue_login;
        </script>
    {% elif not user.admin %}
        <script type="text/javascript">
            function login_finished(){
                goto_url(vars.url.admin);
            }

            function dialogue_not_authenticated(){
                let content = '<p>Only <b>admin</b> users can see this page. You, <i>{{user.name|tojson}}</i>, are not an admin.</p>';
                content += '<button onclick="logout(dialogue_login);">Login as admin</button>';
                show_dialogue('error', content, true);
            }

            window.onload = dialogue_not_authenticated;
        </script>
    {% endif %}
{% endblock %}
{% block content %}
    {% if user and user.admin %}
    <div class="tab">
        <button class="tablinks" onclick="goto_url(`${vars.url.admin}users`);">Users</button>
        <button class="tablinks" onclick="goto_url(`${vars.url.admin}images`);">Images</button>
        <button class="tablinks" onclick="goto_url(`${vars.url.admin}actions/segmentation`);">Masks</button>
    </div>

    <div>
        {% if page is defined %}
            {{page}}
        {% else %}
            No data available!
        {% endif %}
    </div>
    {% endif %}
{% endblock %}
