<table style="width: 80%;">
    <tr style="font-weight: bold;">
        <td>ID</td>
        <td>Image</td>
        <td>Creator (ID)</td>
        <td>Score</td>
        <td>Score pending?</td>
        <td>Last modification</td>
        <td>Time spent</td>
    </tr>
    {% for mask in masks %}
        <tr>
            <td>{{mask.id}}</td>
            <td>{{mask.image_id}}</td>
            <td>{{mask.username}} ({{mask.user_id}})</td>
            <td>{{mask.score}}</td>
            <td>{{mask.score_pending}}</td>
            <td>{{mask.last_modification}}</td>
            <td>{{mask.time_spent}}</td>
        </tr>
    {% endfor %}
</table>
