<script type="text/javascript">
    function update_page(){
        let order_by = document.getElementById('order_by');
        let ascending = document.getElementById('ascending');
        goto_url(`${vars.url.admin}users?order_by=${order_by.value}&ascending=${ascending.checked}`);
    }

    function set_admin_status(user_id, admin){
        fetch(`${vars.url.user}set/${user_id}`, {
            method: "POST",
            body: JSON.stringify({"admin": admin})
        }).then(update_page);
    }
</script>

<p style="display:flex; flex-direction: row; justify-content: center; align-items: center; width: 400px;">
    <span style="width: 150px;">Order by:</span>
    <select id="order_by" class="with-arrow" onchange="update_page();">
        <option value="id" {% if order_by=="id" %} selected {% endif %}>User ID</option>
        <option value="name" {% if order_by=="name" %} selected {% endif %}>Username</option>
        <option value="admin" {% if order_by=="admin" %} selected {% endif %}>Admin status</option>
        <option value="created" {% if order_by=="created" %} selected {% endif %}>Creation date</option>
    </select>

    <input id="ascending" type="checkbox" {% if ascending %} checked {% endif %} onclick="update_page();">Ascending?</input>
</p>

<table class=striped style="width: 100%;">
    <tr style="font-weight: bold;">
        <td>ID</td>
        <td>Username</td>
        <td>Score</td>
        <td>Masks</td>
        <td>Email address</td>
        <td>Creation date</td>
        <td>Admin</td>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>
                {{user.name}}
                {% if user.admin %}<span style="position: absolute; right: 3px;" class="tag">admin</span>{% endif %}
            </td>
            <td>{{user.segmentation.score}} ({{user.segmentation.score_unverified}})</td>
            <td>{{user.segmentation.n_masks}}</td>
            <td>{{user.email}}</td>
            <td>{{user.created}}</td>
            <td>
                {% if user.name != "admin"%}
                    {% if user.admin %}
                        <button onclick="set_admin_status({{user.id}}, false)">Remove admin status</button>
                    {% else %}
                        <button onclick="set_admin_status({{user.id}}, true)">Make admin</button>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
